In [90]:
import pandas as pd

In [91]:
result = pd.read_csv('results.csv')

In [92]:
result.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

In [93]:
result = result[result['season'] == '2017-2018']

In [94]:
result.shape

(380, 6)

In [95]:
team_names = result.home_team.unique()

In [96]:
team_names = team_names.tolist()

In [97]:
type(team_names)

list

In [98]:
team_names.sort()

In [99]:
home = result.groupby('home_team')['home_goals'].sum()
away = result.groupby('away_team')['away_goals'].sum()
home.sort_index()
away.sort_index()

away_team
AFC Bournemouth             19.0
Arsenal                     20.0
Brighton and Hove Albion    10.0
Burnley                     20.0
Chelsea                     32.0
Crystal Palace              16.0
Everton                     16.0
Huddersfield Town           12.0
Leicester City              31.0
Liverpool                   39.0
Manchester City             45.0
Manchester United           30.0
Newcastle United            18.0
Southampton                 17.0
Stoke City                  15.0
Swansea City                11.0
Tottenham Hotspur           34.0
Watford                     17.0
West Bromwich Albion        10.0
West Ham United             24.0
Name: away_goals, dtype: float64

In [100]:
stat = pd.read_csv('stats.csv')
stat = stat[stat['season'] == '2017-2018']
stat = stat[['team','goals']]

In [101]:
stat = stat.sort_values(by='team')
total_goals = stat['goals']

In [102]:
total_goals = total_goals.tolist()

In [103]:
base_df = pd.DataFrame({
    'Team Name': team_names,
    'Home Goals': home,
    'Away Goals': away,
    'Total Goals': total_goals
})

In [104]:
base_df

,Team Name,Home Goals,Away Goals,Total Goals
AFC Bournemouth,AFC Bournemouth,26.0,19.0,45.0
Arsenal,Arsenal,54.0,20.0,74.0
Brighton and Hove Albion,Brighton and Hove Albion,24.0,10.0,34.0
Burnley,Burnley,16.0,20.0,36.0
Chelsea,Chelsea,30.0,32.0,62.0
Crystal Palace,Crystal Palace,29.0,16.0,45.0
Everton,Everton,28.0,16.0,44.0
Huddersfield Town,Huddersfield Town,16.0,12.0,28.0
Leicester City,Leicester City,25.0,31.0,56.0
Liverpool,Liverpool,45.0,39.0,84.0
Manchester City,Manchester City,61.0,45.0,106.0
Manchester United,Manchester United,38.0,30.0,68.0
Newcastle United,Newcastle United,21.0,18.0,39.0
Southampton,Southampton,20.0,17.0,37.0
Stoke City,Stoke City,20.0,15.0,35.0
Swansea City,Swansea City,17.0,11.0,28.0
Tottenham Hotspur,Tottenham Hotspur,40.0,34.0,74.0
Watford,Watford,27.0,17.0,44.0
West Bromwich Albion,West Bromwich Albion,21.0,10.0,31.0
West Ham United,West Ham United,24.0,24.0,48.0

In [105]:
#check these goal numbers

In [106]:
base_df = base_df.reset_index(drop=True)

In [107]:
base_df

                   Team Name  Home Goals  Away Goals  Total Goals
0            AFC Bournemouth        26.0        19.0         45.0
1                    Arsenal        54.0        20.0         74.0
2   Brighton and Hove Albion        24.0        10.0         34.0
3                    Burnley        16.0        20.0         36.0
4                    Chelsea        30.0        32.0         62.0
5             Crystal Palace        29.0        16.0         45.0
6                    Everton        28.0        16.0         44.0
7          Huddersfield Town        16.0        12.0         28.0
8             Leicester City        25.0        31.0         56.0
9                  Liverpool        45.0        39.0         84.0
10           Manchester City        61.0        45.0        106.0
11         Manchester United        38.0        30.0         68.0
12          Newcastle United        21.0        18.0         39.0
13               Southampton        20.0        17.0         37.0
14                Stoke City        20.0        15.0         35.0
15              Swansea City        17.0        11.0         28.0
16         Tottenham Hotspur        40.0        34.0         74.0
17                   Watford        27.0        17.0         44.0
18      West Bromwich Albion        21.0        10.0         31.0
19           West Ham United        24.0        24.0         48.0

In [108]:
base_df['Home Goals Per Game'] = base_df['Home Goals'] / 20
base_df['Away Goals Per Game'] = base_df['Away Goals'] / 20

In [109]:
base_df

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game
0,AFC Bournemouth,26.0,19.0,45.0,1.30,0.95
1,Arsenal,54.0,20.0,74.0,2.70,1.00
2,Brighton and Hove Albion,24.0,10.0,34.0,1.20,0.50
3,Burnley,16.0,20.0,36.0,0.80,1.00
4,Chelsea,30.0,32.0,62.0,1.50,1.60
5,Crystal Palace,29.0,16.0,45.0,1.45,0.80
6,Everton,28.0,16.0,44.0,1.40,0.80
7,Huddersfield Town,16.0,12.0,28.0,0.80,0.60
8,Leicester City,25.0,31.0,56.0,1.25,1.55
9,Liverpool,45.0,39.0,84.0,2.25,1.95
10,Manchester City,61.0,45.0,106.0,3.05,2.25
11,Manchester United,38.0,30.0,68.0,1.90,1.50
12,Newcastle United,21.0,18.0,39.0,1.05,0.90
13,Southampton,20.0,17.0,37.0,1.00,0.85
14,Stoke City,20.0,15.0,35.0,1.00,0.75
15,Swansea City,17.0,11.0,28.0,0.85,0.55
16,Tottenham Hotspur,40.0,34.0,74.0,2.00,1.70
17,Watford,27.0,17.0,44.0,1.35,0.85
18,West Bromwich Albion,21.0,10.0,31.0,1.05,0.50
19,West Ham United,24.0,24.0,48.0,1.20,1.20

In [159]:
#web scarping ATT MID DEF OVR values from fifa.index

In [117]:
import requests
from bs4 import BeautifulSoup

In [136]:
res = requests.get('https://www.fifaindex.com/teams/fifa18_278/?league=13&order=desc')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
fifa = pd.read_html(str(table))
fifa_pl_2018 = fifa[0]

In [138]:
fifa_pl_2018 = fifa_pl_2018[['Name','ATT','MID','DEF','OVR']]

In [140]:
fifa_pl_2018

               Name  ATT  MID  DEF  OVR
0   Manchester City   85   87   83   84
1             Spurs   85   83   82   83
2    Manchester Utd   85   83   81   83
3           Chelsea   84   86   82   83
4           Arsenal   84   80   81   82
5         Liverpool   85   81   80   81
6           Everton   77   80   79   79
7    Leicester City   79   79   76   78
8          West Ham   79   76   74   77
9           Watford   78   77   75   77
10          Burnley   76   77   78   77
11   Crystal Palace   79   76   76   76
12        West Brom   79   75   77   76
13      Southampton   76   77   75   76
14      Bournemouth   76   75   75   76
15       Stoke City   75   76   76   76
16    Newcastle Utd   76   75   76   75
17     Swansea City   76   75   74   75
18         Brighton   74   76   74   75
19     Huddersfield   75   73   74   74

In [145]:
base_df['Team Name']

0              AFC Bournemouth
1                      Arsenal
2     Brighton and Hove Albion
3                      Burnley
4                      Chelsea
5               Crystal Palace
6                      Everton
7            Huddersfield Town
8               Leicester City
9                    Liverpool
10             Manchester City
11           Manchester United
12            Newcastle United
13                 Southampton
14                  Stoke City
15                Swansea City
16           Tottenham Hotspur
17                     Watford
18        West Bromwich Albion
19             West Ham United
Name: Team Name, dtype: object

In [149]:
fifa_pl_2018 = fifa_pl_2018.replace('Spurs','Tottenham Hotspur')
fifa_pl_2018 = fifa_pl_2018.replace('Manchester Utd','Manchester United')
fifa_pl_2018 = fifa_pl_2018.replace('West Ham','West Ham United')
fifa_pl_2018 = fifa_pl_2018.replace('West Brom','West Bromwich Albion')
fifa_pl_2018 = fifa_pl_2018.replace('Bournemouth','AFC Bournemouth')
fifa_pl_2018 = fifa_pl_2018.replace('Newcastle Utd','Newcastle United')
fifa_pl_2018 = fifa_pl_2018.replace('Brighton','Brighton and Hove Albion')
fifa_pl_2018 = fifa_pl_2018.replace('Huddersfield','Huddersfield Town')

In [153]:
df = base_df.merge(fifa_pl_2018,left_on='Team Name',right_on='Name')

In [154]:
df.head()

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game,Name,ATT,MID,DEF,OVR
0,AFC Bournemouth,26.0,19.0,45.0,1.3,0.95,AFC Bournemouth,76,75,75,76
1,Arsenal,54.0,20.0,74.0,2.7,1.00,Arsenal,84,80,81,82
2,Brighton and Hove Albion,24.0,10.0,34.0,1.2,0.50,Brighton and Hove Albion,74,76,74,75
3,Burnley,16.0,20.0,36.0,0.8,1.00,Burnley,76,77,78,77
4,Chelsea,30.0,32.0,62.0,1.5,1.60,Chelsea,84,86,82,83

In [157]:
df = df.drop(columns='Name')

In [158]:
df

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game,ATT,MID,DEF,OVR
0,AFC Bournemouth,26.0,19.0,45.0,1.30,0.95,76,75,75,76
1,Arsenal,54.0,20.0,74.0,2.70,1.00,84,80,81,82
2,Brighton and Hove Albion,24.0,10.0,34.0,1.20,0.50,74,76,74,75
3,Burnley,16.0,20.0,36.0,0.80,1.00,76,77,78,77
4,Chelsea,30.0,32.0,62.0,1.50,1.60,84,86,82,83
5,Crystal Palace,29.0,16.0,45.0,1.45,0.80,79,76,76,76
6,Everton,28.0,16.0,44.0,1.40,0.80,77,80,79,79
7,Huddersfield Town,16.0,12.0,28.0,0.80,0.60,75,73,74,74
8,Leicester City,25.0,31.0,56.0,1.25,1.55,79,79,76,78
9,Liverpool,45.0,39.0,84.0,2.25,1.95,85,81,80,81
10,Manchester City,61.0,45.0,106.0,3.05,2.25,85,87,83,84
11,Manchester United,38.0,30.0,68.0,1.90,1.50,85,83,81,83
12,Newcastle United,21.0,18.0,39.0,1.05,0.90,76,75,76,75
13,Southampton,20.0,17.0,37.0,1.00,0.85,76,77,75,76
14,Stoke City,20.0,15.0,35.0,1.00,0.75,75,76,76,76
15,Swansea City,17.0,11.0,28.0,0.85,0.55,76,75,74,75
16,Tottenham Hotspur,40.0,34.0,74.0,2.00,1.70,85,83,82,83
17,Watford,27.0,17.0,44.0,1.35,0.85,78,77,75,77
18,West Bromwich Albion,21.0,10.0,31.0,1.05,0.50,79,75,77,76
19,West Ham United,24.0,24.0,48.0,1.20,1.20,79,76,74,77