In [1]:
import pandas as pd
from math import e
import math 
import random
import requests
from bs4 import BeautifulSoup

In [2]:
result = pd.read_csv('results.csv')

In [3]:
result.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

In [4]:
result = result[result['season'] == '2017-2018']

In [5]:
result.shape

(380, 6)

In [6]:
team_names = result.home_team.unique()

In [7]:
team_names = team_names.tolist()

In [8]:
type(team_names)

list

In [9]:
team_names.sort()

In [10]:
home = result.groupby('home_team')['home_goals'].sum()
away = result.groupby('away_team')['away_goals'].sum()
home.sort_index()
away.sort_index()

away_team
AFC Bournemouth             19.0
Arsenal                     20.0
Brighton and Hove Albion    10.0
Burnley                     20.0
Chelsea                     32.0
Crystal Palace              16.0
Everton                     16.0
Huddersfield Town           12.0
Leicester City              31.0
Liverpool                   39.0
Manchester City             45.0
Manchester United           30.0
Newcastle United            18.0
Southampton                 17.0
Stoke City                  15.0
Swansea City                11.0
Tottenham Hotspur           34.0
Watford                     17.0
West Bromwich Albion        10.0
West Ham United             24.0
Name: away_goals, dtype: float64

In [11]:
stats = pd.read_csv('stats.csv')
stats = stats[stats['season'] == '2017-2018']

In [12]:
stats.columns

Index(['team', 'wins', 'losses', 'goals', 'total_yel_card', 'total_red_card',
       'total_scoring_att', 'ontarget_scoring_att', 'hit_woodwork',
       'att_hd_goal', 'att_pen_goal', 'att_freekick_goal', 'att_ibox_goal',
       'att_obox_goal', 'goal_fastbreak', 'total_offside', 'clean_sheet',
       'goals_conceded', 'saves', 'outfielder_block', 'interception',
       'total_tackle', 'last_man_tackle', 'total_clearance', 'head_clearance',
       'own_goals', 'penalty_conceded', 'pen_goals_conceded', 'total_pass',
       'total_through_ball', 'total_long_balls', 'backward_pass',
       'total_cross', 'corner_taken', 'touches', 'big_chance_missed',
       'clearance_off_line', 'dispossessed', 'penalty_save',
       'total_high_claim', 'punches', 'season'],
      dtype='object')

In [13]:
passes = stats[['team','total_pass','total_through_ball','total_long_balls','backward_pass','total_cross']]

In [14]:
passes['avg_pass'] = passes['total_pass'] / 38

D:\PYTHON\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
passes.sort_values('avg_pass',ascending=False)

,team,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,avg_pass
220,Manchester City,28241.0,118.0,1775.0,4546.0,691.0,743.184211
225,Arsenal,23524.0,117.0,1994.0,3089.0,572.0,619.052632
224,Liverpool,22962.0,106.0,2370.0,3313.0,764.0,604.263158
222,Tottenham Hotspur,21660.0,83.0,2447.0,3176.0,825.0,570.000000
223,Chelsea,21264.0,70.0,2140.0,3019.0,755.0,559.578947
221,Manchester United,20064.0,85.0,2308.0,2878.0,753.0,528.000000
237,Southampton,17174.0,56.0,2541.0,2589.0,800.0,451.947368
230,AFC Bournemouth,16131.0,37.0,2299.0,2257.0,707.0,424.500000
236,Swansea City,15721.0,23.0,2580.0,2582.0,694.0,413.710526
232,Watford,15654.0,27.0,2410.0,2241.0,713.0,411.947368
228,Leicester City,15200.0,63.0,2667.0,2094.0,744.0,400.000000
235,Huddersfield Town,14960.0,26.0,2563.0,2267.0,765.0,393.684211
227,Everton,14749.0,25.0,2726.0,2212.0,629.0,388.131579
234,Brighton and Hove Albion,14675.0,32.0,2774.0,2204.0,680.0,386.184211
231,Crystal Palace,14372.0,30.0,2416.0,2091.0,703.0,378.210526
233,West Ham United,14369.0,51.0,2567.0,2177.0,732.0,378.131579
229,Newcastle United,14028.0,67.0,2610.0,2018.0,616.0,369.157895
226,Burnley,13572.0,18.0,3028.0,2245.0,707.0,357.157895
239,West Bromwich Albion,13218.0,34.0,2699.0,2041.0,784.0,347.842105
238,Stoke City,12892.0,33.0,2528.0,1979.0,598.0,339.263158

In [16]:
whoscored = pd.read_csv('whoscored.csv')
#passes  & whoscored

In [17]:
whoscored = whoscored.drop(columns='R')
whoscored = whoscored[['Team','Possession%','Pass%']]

In [18]:
passes = passes.reset_index()
passes = passes.drop(columns='index')

In [19]:
whoscored = whoscored.replace('Tottenham','Tottenham Hotspur')
whoscored = whoscored.replace('Manchester Utd','Manchester United')
whoscored = whoscored.replace('West Ham','West Ham United')
whoscored = whoscored.replace('West Brom','West Bromwich Albion')
whoscored = whoscored.replace('Bournemouth','AFC Bournemouth')
whoscored = whoscored.replace('Newcastle Utd','Newcastle United')
whoscored = whoscored.replace('Brighton','Brighton and Hove Albion')
whoscored = whoscored.replace('Huddersfield','Huddersfield Town')
whoscored = whoscored.replace('Swansea','Swansea City')
whoscored = whoscored.replace('Stoke','Stoke City')
whoscored = whoscored.replace('Leicester','Leicester City')

In [20]:
possession_df = passes.merge(whoscored,left_on='team',right_on='Team')

In [21]:
possession_df.head()

,team,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,avg_pass,Team,Possession%,Pass%
0,Manchester City,28241.0,118.0,1775.0,4546.0,691.0,743.184211,Manchester City,66.4,89.0
1,Manchester United,20064.0,85.0,2308.0,2878.0,753.0,528.000000,Manchester United,53.9,83.6
2,Tottenham Hotspur,21660.0,83.0,2447.0,3176.0,825.0,570.000000,Tottenham Hotspur,58.8,83.8
3,Chelsea,21264.0,70.0,2140.0,3019.0,755.0,559.578947,Chelsea,54.4,84.3
4,Liverpool,22962.0,106.0,2370.0,3313.0,764.0,604.263158,Liverpool,58.0,83.8

In [22]:
league_wide_avg_possession = possession_df['Possession%'].sum() / 20

In [23]:
league_wide_avg_possession

50.0

In [24]:
stat = pd.read_csv('stats.csv')
stat = stat[stat['season'] == '2017-2018']
stat = stat[['team','goals']]

In [25]:
stat = stat.sort_values(by='team')
total_goals = stat['goals']

In [26]:
total_goals = total_goals.tolist()

In [27]:
base_df = pd.DataFrame({
    'Team Name': team_names,
    'Home Goals': home,
    'Away Goals': away,
    'Total Goals': total_goals
})

In [28]:
base_df

,Team Name,Home Goals,Away Goals,Total Goals
AFC Bournemouth,AFC Bournemouth,26.0,19.0,45.0
Arsenal,Arsenal,54.0,20.0,74.0
Brighton and Hove Albion,Brighton and Hove Albion,24.0,10.0,34.0
Burnley,Burnley,16.0,20.0,36.0
Chelsea,Chelsea,30.0,32.0,62.0
Crystal Palace,Crystal Palace,29.0,16.0,45.0
Everton,Everton,28.0,16.0,44.0
Huddersfield Town,Huddersfield Town,16.0,12.0,28.0
Leicester City,Leicester City,25.0,31.0,56.0
Liverpool,Liverpool,45.0,39.0,84.0
Manchester City,Manchester City,61.0,45.0,106.0
Manchester United,Manchester United,38.0,30.0,68.0
Newcastle United,Newcastle United,21.0,18.0,39.0
Southampton,Southampton,20.0,17.0,37.0
Stoke City,Stoke City,20.0,15.0,35.0
Swansea City,Swansea City,17.0,11.0,28.0
Tottenham Hotspur,Tottenham Hotspur,40.0,34.0,74.0
Watford,Watford,27.0,17.0,44.0
West Bromwich Albion,West Bromwich Albion,21.0,10.0,31.0
West Ham United,West Ham United,24.0,24.0,48.0

In [29]:
#check these goal numbers

In [30]:
base_df = base_df.reset_index(drop=True)

In [31]:
base_df

                   Team Name  Home Goals  Away Goals  Total Goals
0            AFC Bournemouth        26.0        19.0         45.0
1                    Arsenal        54.0        20.0         74.0
2   Brighton and Hove Albion        24.0        10.0         34.0
3                    Burnley        16.0        20.0         36.0
4                    Chelsea        30.0        32.0         62.0
5             Crystal Palace        29.0        16.0         45.0
6                    Everton        28.0        16.0         44.0
7          Huddersfield Town        16.0        12.0         28.0
8             Leicester City        25.0        31.0         56.0
9                  Liverpool        45.0        39.0         84.0
10           Manchester City        61.0        45.0        106.0
11         Manchester United        38.0        30.0         68.0
12          Newcastle United        21.0        18.0         39.0
13               Southampton        20.0        17.0         37.0
14                Stoke City        20.0        15.0         35.0
15              Swansea City        17.0        11.0         28.0
16         Tottenham Hotspur        40.0        34.0         74.0
17                   Watford        27.0        17.0         44.0
18      West Bromwich Albion        21.0        10.0         31.0
19           West Ham United        24.0        24.0         48.0

In [32]:
base_df['Home Goals Per Game'] = base_df['Home Goals'] / 19
base_df['Away Goals Per Game'] = base_df['Away Goals'] / 19

In [33]:
base_df

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game
0,AFC Bournemouth,26.0,19.0,45.0,1.368421,1.000000
1,Arsenal,54.0,20.0,74.0,2.842105,1.052632
2,Brighton and Hove Albion,24.0,10.0,34.0,1.263158,0.526316
3,Burnley,16.0,20.0,36.0,0.842105,1.052632
4,Chelsea,30.0,32.0,62.0,1.578947,1.684211
5,Crystal Palace,29.0,16.0,45.0,1.526316,0.842105
6,Everton,28.0,16.0,44.0,1.473684,0.842105
7,Huddersfield Town,16.0,12.0,28.0,0.842105,0.631579
8,Leicester City,25.0,31.0,56.0,1.315789,1.631579
9,Liverpool,45.0,39.0,84.0,2.368421,2.052632
10,Manchester City,61.0,45.0,106.0,3.210526,2.368421
11,Manchester United,38.0,30.0,68.0,2.000000,1.578947
12,Newcastle United,21.0,18.0,39.0,1.105263,0.947368
13,Southampton,20.0,17.0,37.0,1.052632,0.894737
14,Stoke City,20.0,15.0,35.0,1.052632,0.789474
15,Swansea City,17.0,11.0,28.0,0.894737,0.578947
16,Tottenham Hotspur,40.0,34.0,74.0,2.105263,1.789474
17,Watford,27.0,17.0,44.0,1.421053,0.894737
18,West Bromwich Albion,21.0,10.0,31.0,1.105263,0.526316
19,West Ham United,24.0,24.0,48.0,1.263158,1.263158

In [34]:
#web scarping ATT MID DEF OVR values from fifa.index

In [35]:
import requests
from bs4 import BeautifulSoup

In [36]:
res = requests.get('https://www.fifaindex.com/teams/fifa18_278/?league=13&order=desc')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
fifa = pd.read_html(str(table))
fifa_pl_2018 = fifa[0]

In [37]:
fifa_pl_2018 = fifa_pl_2018[['Name','ATT','MID','DEF','OVR']]

In [38]:
fifa_pl_2018

               Name  ATT  MID  DEF  OVR
0   Manchester City   85   87   83   84
1             Spurs   85   83   82   83
2    Manchester Utd   85   83   81   83
3           Chelsea   84   86   82   83
4           Arsenal   84   80   81   82
5         Liverpool   85   81   80   81
6           Everton   77   80   79   79
7    Leicester City   79   79   76   78
8          West Ham   79   76   74   77
9           Watford   78   77   75   77
10          Burnley   76   77   78   77
11   Crystal Palace   79   76   76   76
12        West Brom   79   75   77   76
13      Southampton   76   77   75   76
14      Bournemouth   76   75   75   76
15       Stoke City   75   76   76   76
16    Newcastle Utd   76   75   76   75
17     Swansea City   76   75   74   75
18         Brighton   74   76   74   75
19     Huddersfield   75   73   74   74

In [39]:
base_df['Team Name']

0              AFC Bournemouth
1                      Arsenal
2     Brighton and Hove Albion
3                      Burnley
4                      Chelsea
5               Crystal Palace
6                      Everton
7            Huddersfield Town
8               Leicester City
9                    Liverpool
10             Manchester City
11           Manchester United
12            Newcastle United
13                 Southampton
14                  Stoke City
15                Swansea City
16           Tottenham Hotspur
17                     Watford
18        West Bromwich Albion
19             West Ham United
Name: Team Name, dtype: object

In [40]:
fifa_pl_2018 = fifa_pl_2018.replace('Spurs','Tottenham Hotspur')
fifa_pl_2018 = fifa_pl_2018.replace('Manchester Utd','Manchester United')
fifa_pl_2018 = fifa_pl_2018.replace('West Ham','West Ham United')
fifa_pl_2018 = fifa_pl_2018.replace('West Brom','West Bromwich Albion')
fifa_pl_2018 = fifa_pl_2018.replace('Bournemouth','AFC Bournemouth')
fifa_pl_2018 = fifa_pl_2018.replace('Newcastle Utd','Newcastle United')
fifa_pl_2018 = fifa_pl_2018.replace('Brighton','Brighton and Hove Albion')
fifa_pl_2018 = fifa_pl_2018.replace('Huddersfield','Huddersfield Town')

In [41]:
df = base_df.merge(fifa_pl_2018,left_on='Team Name',right_on='Name')

In [42]:
df.head()

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game,Name,ATT,MID,DEF,OVR
0,AFC Bournemouth,26.0,19.0,45.0,1.368421,1.000000,AFC Bournemouth,76,75,75,76
1,Arsenal,54.0,20.0,74.0,2.842105,1.052632,Arsenal,84,80,81,82
2,Brighton and Hove Albion,24.0,10.0,34.0,1.263158,0.526316,Brighton and Hove Albion,74,76,74,75
3,Burnley,16.0,20.0,36.0,0.842105,1.052632,Burnley,76,77,78,77
4,Chelsea,30.0,32.0,62.0,1.578947,1.684211,Chelsea,84,86,82,83

In [43]:
df = df.drop(columns='Name')

In [44]:
df.head()

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game,ATT,MID,DEF,OVR
0,AFC Bournemouth,26.0,19.0,45.0,1.368421,1.000000,76,75,75,76
1,Arsenal,54.0,20.0,74.0,2.842105,1.052632,84,80,81,82
2,Brighton and Hove Albion,24.0,10.0,34.0,1.263158,0.526316,74,76,74,75
3,Burnley,16.0,20.0,36.0,0.842105,1.052632,76,77,78,77
4,Chelsea,30.0,32.0,62.0,1.578947,1.684211,84,86,82,83

In [45]:
df = df.merge(possession_df,left_on='Team Name',right_on='team')

In [46]:
df = df.drop(columns=['team','Team'])

In [47]:
df.head()

,Team Name,Home Goals,Away Goals,Total Goals,Home Goals Per Game,Away Goals Per Game,ATT,MID,DEF,OVR,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,avg_pass,Possession%,Pass%
0,AFC Bournemouth,26.0,19.0,45.0,1.368421,1.000000,76,75,75,76,16131.0,37.0,2299.0,2257.0,707.0,424.500000,48.5,77.0
1,Arsenal,54.0,20.0,74.0,2.842105,1.052632,84,80,81,82,23524.0,117.0,1994.0,3089.0,572.0,619.052632,58.5,84.3
2,Brighton and Hove Albion,24.0,10.0,34.0,1.263158,0.526316,74,76,74,75,14675.0,32.0,2774.0,2204.0,680.0,386.184211,45.1,74.9
3,Burnley,16.0,20.0,36.0,0.842105,1.052632,76,77,78,77,13572.0,18.0,3028.0,2245.0,707.0,357.157895,45.1,70.5
4,Chelsea,30.0,32.0,62.0,1.578947,1.684211,84,86,82,83,21264.0,70.0,2140.0,3019.0,755.0,559.578947,54.4,84.3

In [48]:
#all data from last season gathered

In [49]:
avg_home_goal_per_game = df['Home Goals'].sum()/20/19
avg_away_goal_per_game = df['Away Goals'].sum()/20/19
avg_ATT = df['ATT'].sum()/20
avg_DEF = df['DEF'].sum()/20

In [50]:
avg_home_goal_per_game

1.5315789473684212

In [51]:
avg_away_goal_per_game

1.1473684210526316

In [52]:
names = df['Team Name'].unique().tolist()

In [53]:
manc = ['Manchester City']*20

In [54]:
formula = pd.DataFrame({
    'Home Team': manc + names,
    'Away Team': names + manc
})

In [55]:
formula = formula.drop([10,30])
formula = formula.reset_index()

In [56]:
formula = formula.drop(columns='index')

In [57]:
formula['Home Team Lambda'] = ''
formula['Away Team Lambda'] = ''
formula['P-Home'] = ''
formula['P-Away'] = ''
formula['Prob-Home'] = ''
formula['Prob-Away'] = ''

In [58]:
formula

,Home Team,Away Team,Home Team Lambda,Away Team Lambda,P-Home,P-Away,Prob-Home,Prob-Away
0,Manchester City,AFC Bournemouth,,,,,,
1,Manchester City,Arsenal,,,,,,
2,Manchester City,Brighton and Hove Albion,,,,,,
3,Manchester City,Burnley,,,,,,
4,Manchester City,Chelsea,,,,,,
5,Manchester City,Crystal Palace,,,,,,
6,Manchester City,Everton,,,,,,
7,Manchester City,Huddersfield Town,,,,,,
8,Manchester City,Leicester City,,,,,,
9,Manchester City,Liverpool,,,,,,
10,Manchester City,Manchester United,,,,,,
11,Manchester City,Newcastle United,,,,,,
12,Manchester City,Southampton,,,,,,
13,Manchester City,Stoke City,,,,,,
14,Manchester City,Swansea City,,,,,,
15,Manchester City,Tottenham Hotspur,,,,,,
16,Manchester City,Watford,,,,,,
17,Manchester City,West Bromwich Albion,,,,,,
18,Manchester City,West Ham United,,,,,,
19,AFC Bournemouth,Manchester City,,,,,,
20,Arsenal,Manchester City,,,,,,
21,Brighton and Hove Albion,Manchester City,,,,,,
22,Burnley,Manchester City,,,,,,
23,Chelsea,Manchester City,,,,,,
24,Crystal Palace,Manchester City,,,,,,
25,Everton,Manchester City,,,,,,
26,Huddersfield Town,Manchester City,,,,,,
27,Leicester City,Manchester City,,,,,,
28,Liverpool,Manchester City,,,,,,
29,Manchester United,Manchester City,,,,,,
30,Newcastle United,Manchester City,,,,,,
31,Southampton,Manchester City,,,,,,
32,Stoke City,Manchester City,,,,,,
33,Swansea City,Manchester City,,,,,,
34,Tottenham Hotspur,Manchester City,,,,,,
35,Watford,Manchester City,,,,,,
36,West Bromwich Albion,Manchester City,,,,,,
37,West Ham United,Manchester City,,,,,,

In [59]:
#get lambda

In [60]:
goal_range = list(range(0,11))

In [61]:
goal_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
len(goal_range)

11

In [63]:
def po(goal_range: list,factor: float):
    list = []
    factor_lambda = factor
    for goal in goal_range:    
        output = (e**(-factor_lambda))*(factor_lambda**goal) / (math.factorial(goal))
        list.append(output)
    
    return list

In [64]:
float(df[df['Team Name'] == 'Manchester City']['Home Goals Per Game'])

3.210526315789474

In [65]:

for index, row in formula.iterrows():
#     print(row['Home Team'],' ', row['Away Team'])
    home_team = row['Home Team']
    away_team = row['Away Team']
    
    row['Home Team Lambda'] = float(df[df['Team Name'] == home_team]['Home Goals Per Game']) * (int(df[df['Team Name'] == home_team]['ATT']) / avg_ATT) * \
    (int(df[df['Team Name'] == away_team]['DEF']) / avg_DEF)
    
    row['Away Team Lambda'] = float(df[df['Team Name'] == away_team]['Away Goals Per Game']) * (int(df[df['Team Name'] == away_team]['ATT']) / avg_ATT) * \
    (int(df[df['Team Name'] == home_team]['DEF']) / avg_DEF)
    #lambda calculation wrong!
                               
                               
#!Original lines:  
#     row['Home Team Lambda'] = avg_home_goal_per_game * (int(df[df['Team Name'] == home_team]['ATT']) / avg_ATT) * \
#     (int(df[df['Team Name'] == away_team]['DEF']) / avg_DEF)
    
#     row['Away Team Lambda'] = avg_away_goal_per_game * (int(df[df['Team Name'] == away_team]['ATT']) / avg_ATT) * \
#     (int(df[df['Team Name'] == home_team]['DEF']) / avg_DEF)
    
    
    
    
    row['P-Home'] = po(goal_range,row['Home Team Lambda']) # why row['P-Home'] is not list object?!
    row['P-Away'] = po(goal_range,row['Away Team Lambda'])
    
    
    

    temp_list = []
    y = row['P-Home']
    for index in range(0,len(y)):


        if index == 0:
            temp = y[index]
            temp_list.append(temp)
        else:
            temp = temp_list[index-1]
            temp += y[index]
            temp_list.append(temp)
            
    row['Prob-Home'] = temp_list

    temp_list = []
    y = row['P-Away']
    for index in range(0,len(y)):


        if index == 0:
            temp = y[index]
            temp_list.append(temp)
        else:
            temp = temp_list[index-1]
            temp += y[index]
            temp_list.append(temp)
    row['Prob-Away'] = temp_list

In [66]:
formula.head()

,Home Team,Away Team,Home Team Lambda,Away Team Lambda,P-Home,P-Away,Prob-Home,Prob-Away
0,Manchester City,AFC Bournemouth,3.34091,1.02967,"[0.03540478826010322, 0.11828414764419592, 0.1...","[0.3571233145837561, 0.36772064104794544, 0.18...","[0.03540478826010322, 0.15368893590429916, 0.3...","[0.3571233145837561, 0.7248439556317016, 0.914..."
1,Manchester City,Arsenal,3.60818,1.19796,"[0.027101102672097692, 0.09778568002541065, 0....","[0.301809628151827, 0.3615555092445389, 0.2165...","[0.027101102672097692, 0.12488678269750833, 0....","[0.301809628151827, 0.6633651373963658, 0.8799..."
2,Manchester City,Brighton and Hove Albion,3.29636,0.527672,"[0.037017564467100965, 0.12202332111045876, 0....","[0.5899766364472965, 0.31131435354332965, 0.08...","[0.037017564467100965, 0.15904088557755972, 0....","[0.5899766364472965, 0.9012909899906261, 0.983..."
3,Manchester City,Burnley,3.47454,1.08387,"[0.0309759390773054, 0.10762727982703672, 0.18...","[0.3382846718645521, 0.36665576615568607, 0.19...","[0.0309759390773054, 0.13860321890434213, 0.32...","[0.3382846718645521, 0.7049404380202382, 0.903..."
4,Manchester City,Chelsea,3.65273,1.91673,"[0.025920365521985952, 0.09468000099471449, 0....","[0.14708654423151207, 0.28192579927047934, 0.2...","[0.025920365521985952, 0.12060036651670045, 0....","[0.14708654423151207, 0.4290123435019914, 0.69..."

In [67]:
#all probability calculated

Test on the Lambda factor in the goal probability function:

In [68]:
def prob(goal: int):
    factor_lambda = 1.59378
    output = (e**(-factor_lambda))*(factor_lambda**goal) / (math.factorial(goal))
    return output

In [69]:
prob(0),prob(1),prob(2),prob(3),prob(4),prob(5),prob(6)

(0.20315622797327135,
 0.3237863330192404,
 0.25802209091970246,
 0.13707681602200114,
 0.05461757195988624,
 0.017409678767645497,
 0.0046245329710496745)

In [70]:
prob(0),prob(1),prob(2),prob(3),prob(4),prob(5),prob(6)

(0.20315622797327135,
 0.3237863330192404,
 0.25802209091970246,
 0.13707681602200114,
 0.05461757195988624,
 0.017409678767645497,
 0.0046245329710496745)

In [71]:
#set up the simulation

In [72]:
import random

In [73]:
random.uniform(0,1)

0.7672868540425183

In [74]:
def simulation(dataframe: pd.DataFrame):
    for index, row in dataframe.iterrows():

        home_team = row['Home Team']
        away_team = row['Away Team']
        home_random = random.uniform(0,1)
        away_random = random.uniform(0,1)
        home_score_list = row['Prob-Home']
        away_score_list = row['Prob-Away']
        
        home_goal = 0
        away_goal = 0
#         print(len(home_score_list),len(away_score_list))
        for index in range(0,len(home_score_list)):
            if home_random >= home_score_list[index]:
                home_goal = index
        
        for index in range(0,len(away_score_list)):
            if away_random >= away_score_list[index]:
                away_goal = index
    
    
    
        print(home_team,'',home_goal,':',away_goal,'',away_team)

In [75]:
simulation(formula)

Manchester City  5 : 1  AFC Bournemouth
Manchester City  2 : 1  Arsenal
Manchester City  0 : 0  Brighton and Hove Albion
Manchester City  4 : 0  Burnley
Manchester City  5 : 1  Chelsea
Manchester City  3 : 0  Crystal Palace
Manchester City  3 : 0  Everton
Manchester City  1 : 0  Huddersfield Town
Manchester City  2 : 3  Leicester City
Manchester City  0 : 2  Liverpool
Manchester City  8 : 0  Manchester United
Manchester City  3 : 0  Newcastle United
Manchester City  2 : 0  Southampton
Manchester City  4 : 0  Stoke City
Manchester City  1 : 0  Swansea City
Manchester City  0 : 0  Tottenham Hotspur
Manchester City  1 : 0  Watford
Manchester City  4 : 0  West Bromwich Albion
Manchester City  1 : 0  West Ham United
AFC Bournemouth  3 : 2  Manchester City
Arsenal  2 : 0  Manchester City
Brighton and Hove Albion  0 : 3  Manchester City
Burnley  0 : 1  Manchester City
Chelsea  0 : 3  Manchester City
Crystal Palace  1 : 1  Manchester City
Everton  0 : 2  Manchester City
Huddersfield Town  0 : 1  Manchester City
Leicester City  1 : 0  Manchester City
Liverpool  4 : 0  Manchester City
Manchester United  3 : 2  Manchester City
Newcastle United  0 : 1  Manchester City
Southampton  0 : 2  Manchester City
Stoke City  1 : 5  Manchester City
Swansea City  0 : 0  Manchester City
Tottenham Hotspur  1 : 1  Manchester City
Watford  0 : 1  Manchester City
West Bromwich Albion  0 : 2  Manchester City
West Ham United  0 : 1  Manchester City

In [76]:
# for i in range(0,10000):
#     simulation(formula)

In [77]:
fixture_schedule = pd.read_csv('fixture_schedule.csv')

In [78]:
fixture_schedule['Home Team Lambda'] = ''
fixture_schedule['Away Team Lambda'] = ''
fixture_schedule['P-Home'] = ''
fixture_schedule['P-Away'] = ''
fixture_schedule['Prob-Home'] = ''
fixture_schedule['Prob-Away'] = ''

In [79]:
fixture_schedule = fixture_schedule.rename(columns={'home_team':'Home Team','away_team':'Away Team'})

In [80]:
fixture_schedule.head()

,Home Team,Away Team,Home Team Lambda,Away Team Lambda,P-Home,P-Away,Prob-Home,Prob-Away
0,Arsenal,Leicester City,,,,,,
1,Watford,Liverpool,,,,,,
2,Chelsea,Burnley,,,,,,
3,Crystal Palace,Huddersfield Town,,,,,,
4,Everton,Stoke City,,,,,,

In [81]:
# simulation(fixture_schedule)

In [82]:
def populate_lambda(input_df: pd.DataFrame):
    for index, row in input_df.iterrows():
#     print(row['Home Team'],' ', row['Away Team'])
        home_team = row['Home Team']
        away_team = row['Away Team']

        row['Home Team Lambda'] = float(df[df['Team Name'] == home_team]['Home Goals Per Game']) * (int(df[df['Team Name'] == home_team]['ATT']) / avg_ATT) * \
        (int(df[df['Team Name'] == away_team]['DEF']) / avg_DEF)

        row['Away Team Lambda'] = float(df[df['Team Name'] == away_team]['Away Goals Per Game']) * (int(df[df['Team Name'] == away_team]['ATT']) / avg_ATT) * \
        (int(df[df['Team Name'] == home_team]['DEF']) / avg_DEF)
        #lambda calculation wrong!


    #!Original lines:  
    #     row['Home Team Lambda'] = avg_home_goal_per_game * (int(df[df['Team Name'] == home_team]['ATT']) / avg_ATT) * \
    #     (int(df[df['Team Name'] == away_team]['DEF']) / avg_DEF)

    #     row['Away Team Lambda'] = avg_away_goal_per_game * (int(df[df['Team Name'] == away_team]['ATT']) / avg_ATT) * \
    #     (int(df[df['Team Name'] == home_team]['DEF']) / avg_DEF)




        row['P-Home'] = po(goal_range,row['Home Team Lambda']) # why row['P-Home'] is not list object?!
        row['P-Away'] = po(goal_range,row['Away Team Lambda'])




        temp_list = []
        y = row['P-Home']
        for index in range(0,len(y)):


            if index == 0:
                temp = y[index]
                temp_list.append(temp)
            else:
                temp = temp_list[index-1]
                temp += y[index]
                temp_list.append(temp)

        row['Prob-Home'] = temp_list

        temp_list = []
        y = row['P-Away']
        for index in range(0,len(y)):


            if index == 0:
                temp = y[index]
                temp_list.append(temp)
            else:
                temp = temp_list[index-1]
                temp += y[index]
                temp_list.append(temp)
        row['Prob-Away'] = temp_list

In [83]:
populate_lambda(fixture_schedule)

In [84]:
fixture_schedule.head()

,Home Team,Away Team,Home Team Lambda,Away Team Lambda,P-Home,P-Away,Prob-Home,Prob-Away
0,Arsenal,Leicester City,2.9617,1.70423,"[0.05173086739843088, 0.15321134242494616, 0.2...","[0.18191232119701878, 0.3100205187695373, 0.26...","[0.05173086739843088, 0.20494220982337705, 0.4...","[0.18191232119701878, 0.49193283996655607, 0.7..."
1,Watford,Liverpool,1.44745,2.13599,"[0.23516975239313795, 0.3403959113314231, 0.24...","[0.11812752796688857, 0.25231927665389814, 0.2...","[0.23516975239313795, 0.5755656637245611, 0.82...","[0.11812752796688857, 0.3704468046207867, 0.63..."
2,Chelsea,Burnley,1.68869,1.07081,"[0.18476159619561228, 0.31200486664941157, 0.2...","[0.3427311807178014, 0.3669995879195746, 0.196...","[0.18476159619561228, 0.49676646284502385, 0.7...","[0.3427311807178014, 0.7097307686373759, 0.906..."
3,Crystal Palace,Huddersfield Town,1.4565,0.587639,"[0.2330498699540555, 0.339437791432574, 0.2471...","[0.5556375902494717, 0.32651432531664726, 0.09...","[0.2330498699540555, 0.5724876613866295, 0.819...","[0.5556375902494717, 0.8821519155661189, 0.978..."
4,Everton,Stoke City,1.40772,0.763544,"[0.244700099209211, 0.3444696893479386, 0.2424...","[0.4660118981152513, 0.35582064127561785, 0.13...","[0.244700099209211, 0.5891697885571496, 0.8316...","[0.4660118981152513, 0.8218325393908692, 0.957..."

In [85]:
simulation(fixture_schedule)

Arsenal  5 : 2  Leicester City
Watford  2 : 2  Liverpool
Chelsea  2 : 3  Burnley
Crystal Palace  0 : 1  Huddersfield Town
Everton  0 : 0  Stoke City
Southampton  0 : 0  Swansea City
West Bromwich Albion  0 : 0  AFC Bournemouth
Brighton and Hove Albion  0 : 1  Manchester City
Newcastle United  0 : 2  Tottenham Hotspur
Manchester United  3 : 1  West Ham United
Swansea City  0 : 4  Manchester United
AFC Bournemouth  0 : 1  Watford
Burnley  0 : 0  West Bromwich Albion
Leicester City  0 : 0  Brighton and Hove Albion
Liverpool  2 : 0  Crystal Palace
Southampton  0 : 0  West Ham United
Stoke City  1 : 0  Arsenal
Huddersfield Town  0 : 1  Newcastle United
Tottenham Hotspur  0 : 1  Chelsea
Manchester City  4 : 0  Everton
AFC Bournemouth  0 : 1  Manchester City
Crystal Palace  0 : 0  Swansea City
Huddersfield Town  0 : 0  Southampton
Newcastle United  0 : 0  West Ham United
Watford  0 : 0  Brighton and Hove Albion
Manchester United  1 : 2  Leicester City
Chelsea  3 : 0  Everton
West Bromwich Albion  2 : 1  Stoke City
Liverpool  2 : 0  Arsenal
Tottenham Hotspur  2 : 0  Burnley
Manchester City  2 : 0  Liverpool
Arsenal  3 : 0  AFC Bournemouth
Brighton and Hove Albion  0 : 0  West Bromwich Albion
Everton  2 : 0  Tottenham Hotspur
Leicester City  4 : 0  Chelsea
Southampton  0 : 0  Watford
Stoke City  1 : 0  Manchester United
Burnley  0 : 2  Crystal Palace
Swansea City  2 : 0  Newcastle United
West Ham United  0 : 0  Huddersfield Town
AFC Bournemouth  0 : 0  Brighton and Hove Albion
Crystal Palace  0 : 0  Southampton
Huddersfield Town  0 : 0  Leicester City
Liverpool  3 : 0  Burnley
Newcastle United  0 : 0  Stoke City
Watford  0 : 2  Manchester City
West Bromwich Albion  0 : 0  West Ham United
Tottenham Hotspur  0 : 0  Swansea City
Chelsea  0 : 1  Arsenal
Manchester United  0 : 0  Everton
West Ham United  0 : 2  Tottenham Hotspur
Burnley  0 : 1  Huddersfield Town
Everton  0 : 0  AFC Bournemouth
Manchester City  2 : 0  Crystal Palace
Southampton  0 : 0  Manchester United
Stoke City  0 : 0  Chelsea
Swansea City  0 : 1  Watford
Leicester City  0 : 3  Liverpool
Brighton and Hove Albion  0 : 0  Newcastle United
Arsenal  3 : 0  West Bromwich Albion
Huddersfield Town  1 : 0  Tottenham Hotspur
AFC Bournemouth  0 : 0  Leicester City
Manchester United  0 : 0  Crystal Palace
Stoke City  0 : 0  Southampton
West Bromwich Albion  3 : 0  Watford
West Ham United  1 : 0  Swansea City
Chelsea  0 : 2  Manchester City
Arsenal  3 : 0  Brighton and Hove Albion
Everton  0 : 0  Burnley
Newcastle United  0 : 0  Liverpool
Liverpool  1 : 1  Manchester United
Burnley  0 : 0  West Ham United
Crystal Palace  0 : 0  Chelsea
Manchester City  0 : 0  Stoke City
Swansea City  0 : 0  Huddersfield Town
Tottenham Hotspur  0 : 0  AFC Bournemouth
Watford  1 : 0  Arsenal
Brighton and Hove Albion  3 : 0  Everton
Southampton  0 : 1  Newcastle United
Leicester City  1 : 0  West Bromwich Albion
West Ham United  2 : 0  Brighton and Hove Albion
Chelsea  0 : 1  Watford
Huddersfield Town  0 : 0  Manchester United
Manchester City  5 : 0  Burnley
Newcastle United  0 : 0  Crystal Palace
Stoke City  0 : 0  AFC Bournemouth
Swansea City  0 : 1  Leicester City
Southampton  0 : 0  West Bromwich Albion
Everton  0 : 1  Arsenal
Tottenham Hotspur  3 : 0  Liverpool
Manchester United  2 : 2  Tottenham Hotspur
Arsenal  0 : 0  Swansea City
Crystal Palace  1 : 1  West Ham United
Liverpool  4 : 1  Huddersfield Town
Watford  2 : 0  Stoke City
West Bromwich Albion  0 : 0  Manchester City
AFC Bournemouth  0 : 2  Chelsea
Brighton and Hove Albion  1 : 0  Southampton
Leicester City  0 : 0  Everton
Burnley  0 : 0  Newcastle United
Stoke City  0 : 2  Leicester City
Huddersfield Town  0 : 2  West Bromwich Albion
Newcastle United  0 : 0  AFC Bournemouth
Southampton  0 : 0  Burnley
Swansea City  1 : 0  Brighton and Hove Albion
West Ham United  0 : 4  Liverpool
Tottenham Hotspur  3 : 0  Crystal Palace
Manchester City  4 : 1  Arsenal
Chelsea  4 : 2  Manchester United
Everton  0 : 0  Watford
Arsenal  4 : 3  Tottenham Hotspur
AFC Bournemouth  1 : 0  Huddersfield Town
Burnley  0 : 0  Swansea City
Crystal Palace  2 : 0  Everton
Leicester City  0 : 1  Manchester City
Liverpool  3 : 0  Southampton
West Bromwich Albion  1 : 2  Chelsea
Manchester United  2 : 0  Newcastle United
Watford  2 : 0  West Ham United
Brighton and Hove Albion  1 : 1  Stoke City
West Ham United  0 : 1  Leicester City
Crystal Palace  0 : 0  Stoke City
Manchester United  0 : 0  Brighton and Hove Albion
Newcastle United  0 : 0  Watford
Swansea City  0 : 1  AFC Bournemouth
Tottenham Hotspur  2 : 0  West Bromwich Albion
Liverpool  5 : 0  Chelsea
Southampton  0 : 0  Everton
Burnley  1 : 1  Arsenal
Huddersfield Town  0 : 1  Manchester City
Brighton and Hove Albion  1 : 0  Crystal Palace
Leicester City  0 : 0  Tottenham Hotspur
Watford  0 : 0  Manchester United
West Bromwich Albion  0 : 0  Newcastle United
Arsenal  0 : 2  Huddersfield Town
AFC Bournemouth  1 : 0  Burnley
Chelsea  0 : 0  Swansea City
Everton  1 : 0  West Ham United
Manchester City  3 : 3  Southampton
Stoke City  0 : 1  Liverpool
Chelsea  1 : 0  Newcastle United
Brighton and Hove Albion  0 : 1  Liverpool
Everton  0 : 0  Huddersfield Town
Leicester City  0 : 1  Burnley
Stoke City  0 : 0  Swansea City
Watford  0 : 0  Tottenham Hotspur
West Bromwich Albion  0 : 2  Crystal Palace
Arsenal  5 : 1  Manchester United
AFC Bournemouth  0 : 0  Southampton
Manchester City  3 : 0  West Ham United
West Ham United  2 : 2  Chelsea
Burnley  0 : 0  Watford
Crystal Palace  1 : 0  AFC Bournemouth
Huddersfield Town  2 : 0  Brighton and Hove Albion
Swansea City  0 : 0  West Bromwich Albion
Tottenham Hotspur  0 : 1  Stoke City
Newcastle United  0 : 0  Leicester City
Southampton  1 : 0  Arsenal
Liverpool  0 : 0  Everton
Manchester United  1 : 2  Manchester City
Burnley  0 : 0  Stoke City
Crystal Palace  3 : 1  Watford
Huddersfield Town  0 : 1  Chelsea
Newcastle United  1 : 0  Everton
Southampton  0 : 0  Leicester City
Swansea City  0 : 1  Manchester City
Liverpool  1 : 0  West Bromwich Albion
Manchester United  1 : 3  AFC Bournemouth
Tottenham Hotspur  1 : 0  Brighton and Hove Albion
West Ham United  0 : 0  Arsenal
Leicester City  3 : 0  Crystal Palace
Arsenal  0 : 1  Newcastle United
Brighton and Hove Albion  4 : 0  Burnley
Chelsea  1 : 1  Southampton
Watford  0 : 1  Huddersfield Town
Stoke City  0 : 0  West Ham United
Manchester City  4 : 3  Tottenham Hotspur
West Bromwich Albion  2 : 3  Manchester United
AFC Bournemouth  0 : 2  Liverpool
Everton  0 : 0  Swansea City
Arsenal  1 : 0  Liverpool
Everton  1 : 1  Chelsea
Brighton and Hove Albion  0 : 0  Watford
Manchester City  1 : 0  AFC Bournemouth
Southampton  0 : 0  Huddersfield Town
Stoke City  0 : 0  West Bromwich Albion
Swansea City  3 : 0  Crystal Palace
West Ham United  1 : 0  Newcastle United
Burnley  0 : 4  Tottenham Hotspur
Leicester City  2 : 0  Manchester United
Tottenham Hotspur  2 : 0  Southampton
AFC Bournemouth  2 : 1  West Ham United
Chelsea  0 : 0  Brighton and Hove Albion
Huddersfield Town  0 : 1  Stoke City
Manchester United  1 : 0  Burnley
Watford  0 : 0  Leicester City
West Bromwich Albion  0 : 1  Everton
Liverpool  1 : 0  Swansea City
Newcastle United  0 : 1  Manchester City
Crystal Palace  0 : 0  Arsenal
AFC Bournemouth  0 : 0  Everton
Chelsea  1 : 0  Stoke City
Huddersfield Town  0 : 0  Burnley
Liverpool  1 : 2  Leicester City
Newcastle United  1 : 0  Brighton and Hove Albion
Watford  1 : 0  Swansea City
Manchester United  1 : 0  Southampton
Crystal Palace  1 : 1  Manchester City
West Bromwich Albion  0 : 0  Arsenal
Brighton and Hove Albion  0 : 2  AFC Bournemouth
Burnley  0 : 0  Liverpool
Leicester City  1 : 0  Huddersfield Town
Stoke City  2 : 1  Newcastle United
Everton  0 : 0  Manchester United
Southampton  0 : 0  Crystal Palace
Swansea City  0 : 3  Tottenham Hotspur
West Ham United  0 : 0  West Bromwich Albion
Manchester City  0 : 0  Watford
Arsenal  2 : 1  Chelsea
Tottenham Hotspur  2 : 0  West Ham United
Chelsea  1 : 5  Leicester City
Crystal Palace  1 : 0  Burnley
Huddersfield Town  0 : 0  West Ham United
Newcastle United  5 : 0  Swansea City
Watford  0 : 0  Southampton
West Bromwich Albion  0 : 0  Brighton and Hove Albion
Tottenham Hotspur  0 : 2  Everton
AFC Bournemouth  0 : 0  Arsenal
Liverpool  1 : 5  Manchester City
Manchester United  2 : 0  Stoke City
Brighton and Hove Albion  3 : 1  Chelsea
Arsenal  1 : 1  Crystal Palace
Burnley  0 : 0  Manchester United
Everton  2 : 0  West Bromwich Albion
Leicester City  0 : 1  Watford
Stoke City  0 : 1  Huddersfield Town
West Ham United  2 : 0  AFC Bournemouth
Manchester City  5 : 0  Newcastle United
Southampton  1 : 2  Tottenham Hotspur
Swansea City  0 : 0  Liverpool
Swansea City  0 : 0  Arsenal
West Ham United  3 : 0  Crystal Palace
Huddersfield Town  0 : 0  Liverpool
Chelsea  1 : 1  AFC Bournemouth
Everton  1 : 1  Leicester City
Newcastle United  0 : 0  Burnley
Southampton  0 : 0  Brighton and Hove Albion
Manchester City  2 : 0  West Bromwich Albion
Stoke City  0 : 1  Watford
Tottenham Hotspur  0 : 0  Manchester United
Burnley  1 : 0  Manchester City
AFC Bournemouth  1 : 0  Stoke City
Brighton and Hove Albion  1 : 0  West Ham United
Leicester City  0 : 0  Swansea City
Manchester United  4 : 0  Huddersfield Town
West Bromwich Albion  1 : 0  Southampton
Arsenal  3 : 0  Everton
Crystal Palace  0 : 0  Newcastle United
Liverpool  5 : 1  Tottenham Hotspur
Watford  1 : 0  Chelsea
Tottenham Hotspur  1 : 0  Arsenal
Everton  2 : 1  Crystal Palace
Stoke City  0 : 0  Brighton and Hove Albion
Swansea City  0 : 1  Burnley
West Ham United  0 : 0  Watford
Manchester City  4 : 1  Leicester City
Huddersfield Town  0 : 0  AFC Bournemouth
Newcastle United  4 : 1  Manchester United
Southampton  0 : 0  Liverpool
Chelsea  1 : 0  West Bromwich Albion
Leicester City  1 : 0  Stoke City
AFC Bournemouth  0 : 0  Newcastle United
Brighton and Hove Albion  0 : 0  Swansea City
Burnley  0 : 0  Southampton
Liverpool  2 : 4  West Ham United
West Bromwich Albion  0 : 0  Huddersfield Town
Watford  1 : 0  Everton
Crystal Palace  0 : 3  Tottenham Hotspur
Manchester United  2 : 1  Chelsea
Arsenal  2 : 1  Manchester City
Burnley  0 : 2  Everton
Leicester City  0 : 0  AFC Bournemouth
Southampton  0 : 0  Stoke City
Swansea City  0 : 0  West Ham United
Tottenham Hotspur  1 : 0  Huddersfield Town
Watford  0 : 0  West Bromwich Albion
Liverpool  2 : 0  Newcastle United
Brighton and Hove Albion  0 : 0  Arsenal
Manchester City  3 : 0  Chelsea
Crystal Palace  1 : 0  Manchester United
Manchester United  0 : 1  Liverpool
Everton  0 : 1  Brighton and Hove Albion
Huddersfield Town  0 : 0  Swansea City
Newcastle United  1 : 0  Southampton
West Bromwich Albion  0 : 1  Leicester City
West Ham United  0 : 0  Burnley
Chelsea  1 : 0  Crystal Palace
Arsenal  1 : 0  Watford
AFC Bournemouth  0 : 0  Tottenham Hotspur
Stoke City  0 : 2  Manchester City
AFC Bournemouth  0 : 0  West Bromwich Albion
Huddersfield Town  0 : 0  Crystal Palace
Stoke City  2 : 1  Everton
Liverpool  1 : 1  Watford
Crystal Palace  1 : 1  Liverpool
Brighton and Hove Albion  1 : 0  Leicester City
Manchester United  1 : 0  Swansea City
Newcastle United  0 : 0  Huddersfield Town
Watford  0 : 1  AFC Bournemouth
West Bromwich Albion  0 : 0  Burnley
West Ham United  1 : 0  Southampton
Everton  0 : 1  Manchester City
Arsenal  1 : 0  Stoke City
Chelsea  0 : 4  Tottenham Hotspur
Everton  2 : 2  Liverpool
AFC Bournemouth  0 : 0  Crystal Palace
Brighton and Hove Albion  1 : 1  Huddersfield Town
Leicester City  2 : 0  Newcastle United
Stoke City  1 : 0  Tottenham Hotspur
Watford  0 : 1  Burnley
West Bromwich Albion  0 : 0  Swansea City
Manchester City  1 : 0  Manchester United
Arsenal  3 : 1  Southampton
Chelsea  2 : 0  West Ham United
Southampton  0 : 3  Chelsea
Burnley  0 : 1  Leicester City
Crystal Palace  4 : 0  Brighton and Hove Albion
Huddersfield Town  1 : 0  Watford
Swansea City  0 : 0  Everton
Liverpool  1 : 0  AFC Bournemouth
Tottenham Hotspur  2 : 1  Manchester City
Newcastle United  0 : 0  Arsenal
Manchester United  0 : 1  West Bromwich Albion
West Ham United  0 : 0  Stoke City
Brighton and Hove Albion  0 : 0  Tottenham Hotspur
AFC Bournemouth  0 : 1  Manchester United
Burnley  0 : 3  Chelsea
Leicester City  0 : 0  Southampton
West Bromwich Albion  0 : 0  Liverpool
Watford  0 : 0  Crystal Palace
Arsenal  1 : 1  West Ham United
Stoke City  3 : 1  Burnley
Manchester City  5 : 0  Swansea City
Everton  0 : 0  Newcastle United
Liverpool  3 : 1  Stoke City
Burnley  0 : 1  Brighton and Hove Albion
Crystal Palace  1 : 0  Leicester City
Huddersfield Town  1 : 0  Everton
Newcastle United  0 : 0  West Bromwich Albion
Southampton  1 : 0  AFC Bournemouth
Swansea City  0 : 1  Chelsea
West Ham United  1 : 0  Manchester City
Manchester United  3 : 0  Arsenal
Tottenham Hotspur  4 : 0  Watford
Brighton and Hove Albion  0 : 3  Manchester United
Stoke City  0 : 0  Crystal Palace
AFC Bournemouth  3 : 0  Swansea City
Leicester City  3 : 0  West Ham United
Watford  0 : 1  Newcastle United
West Bromwich Albion  0 : 0  Tottenham Hotspur
Everton  2 : 0  Southampton
Manchester City  0 : 0  Huddersfield Town
Arsenal  0 : 0  Burnley

Chelsea  1 : 2  Liverpool
Swansea City  0 : 0  Southampton
Chelsea  2 : 0  Huddersfield Town
Leicester City  1 : 0  Arsenal
Manchester City  1 : 0  Brighton and Hove Albion
Tottenham Hotspur  1 : 0  Newcastle United
West Ham United  0 : 1  Manchester United
Burnley  0 : 0  AFC Bournemouth
Crystal Palace  0 : 0  West Bromwich Albion
Huddersfield Town  1 : 0  Arsenal
Liverpool  2 : 0  Brighton and Hove Albion
Manchester United  0 : 2  Watford
Newcastle United  0 : 0  Chelsea
Southampton  0 : 0  Manchester City
Swansea City  0 : 0  Stoke City
Tottenham Hotspur  1 : 1  Leicester City
West Ham United  3 : 0  Everton

In [86]:
def simulation_store_in_df(dataframe: pd.DataFrame) ->pd.DataFrame:
    output_df = pd.DataFrame(columns=['Home Team','Home Goal','Away Goal','Away Team'])
    i = 0
    for index, row in dataframe.iterrows():

        home_team = row['Home Team']
        away_team = row['Away Team']
        home_random = random.uniform(0,1)
        away_random = random.uniform(0,1)
        home_score_list = row['Prob-Home']
        away_score_list = row['Prob-Away']
        
        home_goal = 0
        away_goal = 0
#         print(len(home_score_list),len(away_score_list))
        for index in range(0,len(home_score_list)):
            if home_random >= home_score_list[index]:
                home_goal = index
        
        for index in range(0,len(away_score_list)):
            if away_random >= away_score_list[index]:
                away_goal = index
    
    
#         output_df['Home Team'] = home_team
#         output_df['Home Goal'] = home_goal
#         output_df['Away Goal'] = away_goal
#         output_df['Away Team'] = away_team
        output_df = output_df.append({'Home Team':home_team,'Home Goal':home_goal,'Away Goal':away_goal,
                                      'Away Team':away_team,},ignore_index=True)
        i+=1
        
    return output_df

In [87]:
match_result_sim1 = simulation_store_in_df(fixture_schedule)

In [88]:
match_result_sim1

                    Home Team Home Goal Away Goal                 Away Team
0                     Arsenal         4         0            Leicester City
1                     Watford         2         2                 Liverpool
2                     Chelsea         0         0                   Burnley
3              Crystal Palace         0         0         Huddersfield Town
4                     Everton         1         1                Stoke City
5                 Southampton         0         0              Swansea City
6        West Bromwich Albion         1         0           AFC Bournemouth
7    Brighton and Hove Albion         2         2           Manchester City
8            Newcastle United         1         0         Tottenham Hotspur
9           Manchester United         0         1           West Ham United
10               Swansea City         0         0         Manchester United
11            AFC Bournemouth         0         0                   Watford
12                    Burnley         0         0      West Bromwich Albion
13             Leicester City         0         1  Brighton and Hove Albion
14                  Liverpool         3         1            Crystal Palace
15                Southampton         0         1           West Ham United
16                 Stoke City         0         2                   Arsenal
17          Huddersfield Town         0         4          Newcastle United
18          Tottenham Hotspur         1         1                   Chelsea
19            Manchester City         4         0                   Everton
20            AFC Bournemouth         0         0           Manchester City
21             Crystal Palace         1         0              Swansea City
22          Huddersfield Town         1         0               Southampton
23           Newcastle United         0         0           West Ham United
24                    Watford         1         0  Brighton and Hove Albion
25          Manchester United         2         1            Leicester City
26                    Chelsea         4         1                   Everton
27       West Bromwich Albion         2         1                Stoke City
28                  Liverpool         2         0                   Arsenal
29          Tottenham Hotspur         0         0                   Burnley
..                        ...       ...       ...                       ...
350              Swansea City         0         2                   Chelsea
351           West Ham United         0         1           Manchester City
352         Manchester United         1         0                   Arsenal
353         Tottenham Hotspur         0         0                   Watford
354  Brighton and Hove Albion         1         1         Manchester United
355                Stoke City         2         0            Crystal Palace
356           AFC Bournemouth         0         0              Swansea City
357            Leicester City         1         0           West Ham United
358                   Watford         5         0          Newcastle United
359      West Bromwich Albion         1         2         Tottenham Hotspur
360                   Everton         1         0               Southampton
361           Manchester City         0         1         Huddersfield Town
362                   Arsenal         2         0                   Burnley
363                   Chelsea         1         0                 Liverpool
364              Swansea City         2         0               Southampton
365                   Chelsea         1         0         Huddersfield Town
366            Leicester City         0         1                   Arsenal
367           Manchester City         6         0  Brighton and Hove Albion
368         Tottenham Hotspur         1         0          Newcastle United
369           West Ham United         0         0         Manchester United
370                   Burnley         0         0           AFC Bournemouth
371            Crystal Palace         0         1      West Bromwich Albion
372         Huddersfield Town         0         0                   Arsenal
373                 Liverpool         3         0  Brighton and Hove Albion
374         Manchester United         0         0                   Watford
375          Newcastle United         1         0                   Chelsea
376               Southampton         1         4           Manchester City
377              Swansea City         0         0                Stoke City
378         Tottenham Hotspur         1         0            Leicester City
379           West Ham United         2         1                   Everton

[380 rows x 4 columns]

In [89]:
empty_score_table = pd.read_csv('empty_score_table(1).csv')

In [90]:
empty_score_table.head()

             team  w  l  pts  gf  ga  gd
0         Arsenal  0  0    0   0   0   0
1         Watford  0  0    0   0   0   0
2         Chelsea  0  0    0   0   0   0
3  Crystal Palace  0  0    0   0   0   0
4         Everton  0  0    0   0   0   0

In [91]:
def transform_to_score_table(dataframe: pd.DataFrame)-> pd.DataFrame:
    new_dataframe = empty_score_table.copy()
    new_dataframe = new_dataframe.sort_values('team',ascending=True)
    for index, row in dataframe.iterrows():
        home_team = row['Home Team']
        away_team = row['Away Team']
        home_goal = row['Home Goal']
        away_goal = row['Away Goal']
        
        if row['Home Goal'] > row['Away Goal']:
            new_dataframe.loc[new_dataframe['team'] == home_team, 'w'] += 1
            new_dataframe.loc[new_dataframe['team'] == home_team, 'pts'] += 3
            new_dataframe.loc[new_dataframe['team'] == home_team, 'gf'] += home_goal
            new_dataframe.loc[new_dataframe['team'] == home_team, 'ga'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'l'] += 1
            new_dataframe.loc[new_dataframe['team'] == away_team, 'gf'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'ga'] += home_goal
            
        elif row['Away Goal'] > row['Home Goal']:
            
            new_dataframe.loc[new_dataframe['team'] == home_team, 'l'] +=1
            new_dataframe.loc[new_dataframe['team'] == home_team, 'gf'] += home_goal
            new_dataframe.loc[new_dataframe['team'] == home_team, 'ga'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'w'] += 1
            new_dataframe.loc[new_dataframe['team'] == away_team, 'gf'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'ga'] += home_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'pts'] += 3
            
        elif row['Away Goal'] == row['Home Goal']:
            new_dataframe.loc[new_dataframe['team'] == home_team, 'pts'] +=1
            new_dataframe.loc[new_dataframe['team'] == home_team, 'gf'] += home_goal
            new_dataframe.loc[new_dataframe['team'] == home_team, 'ga'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'pts'] +=1
            new_dataframe.loc[new_dataframe['team'] == away_team, 'gf'] += away_goal
            new_dataframe.loc[new_dataframe['team'] == away_team, 'ga'] += home_goal
            
    new_dataframe['gd'] = new_dataframe['gf'] - new_dataframe['ga']
    new_dataframe = new_dataframe[['team','w','l','gf','ga','gd','pts']]
#     new_dataframe = new_dataframe.sort_values('pts',ascending=False)
    
    return new_dataframe

In [92]:
result_test = transform_to_score_table(match_result_sim1)

In [93]:
result_test

                        team   w   l  gf  ga  gd  pts
11           AFC Bournemouth   7  10  16  23  -7   42
0                    Arsenal  18   8  47  20  27   66
7   Brighton and Hove Albion   8  10  14  26 -12   44
12                   Burnley   5  13   8  32 -24   35
2                    Chelsea  11  11  30  24   6   49
3             Crystal Palace   6  17  13  32 -19   33
4                    Everton   8  11  16  29 -13   43
16         Huddersfield Town   5  15   7  26 -19   33
13            Leicester City  12  13  23  23   0   49
14                 Liverpool  21   7  63  27  36   73
18           Manchester City  22   5  74  27  47   77
9          Manchester United  15  11  35  29   6   57
8           Newcastle United  11   6  26  14  12   54
5                Southampton   5  17  16  35 -19   31
15                Stoke City   7  13  13  24 -11   39
10              Swansea City   4  14   9  37 -28   32
17         Tottenham Hotspur  20   7  48  27  21   71
1                    Watford  13   9  28  20   8   55
6       West Bromwich Albion   5   9  10  25 -15   39
19           West Ham United   9   6  15  11   4   50

In [94]:
name_list = result_test['team']

In [95]:
name_list = name_list.tolist()

In [96]:
empty_df = result_test.copy()

for col in empty_df.columns:
    empty_df[col].values[:] = 0
empty_df['team'] = ''

In [97]:
empty_df.head()

   team  w  l  gf  ga  gd  pts
11       0  0   0   0   0    0
0        0  0   0   0   0    0
7        0  0   0   0   0    0
12       0  0   0   0   0    0
2        0  0   0   0   0    0

In [98]:
for i in range(0,1000):
    each_season = simulation_store_in_df(fixture_schedule)
    each_season = transform_to_score_table(each_season)
  
    empty_df = empty_df.add(each_season)

In [99]:
empty_df

,team,w,l,gf,ga,gd,pts
11,AFC BournemouthAFC BournemouthAFC BournemouthA...,8579,11177,17568,24676,-7108,43981
0,ArsenalArsenalArsenalArsenalArsenalArsenalArse...,16762,8787,47666,26063,21603,62737
7,Brighton and Hove AlbionBrighton and Hove Albi...,5793,12046,11233,24313,-13080,37540
12,BurnleyBurnleyBurnleyBurnleyBurnleyBurnleyBurn...,5782,12217,11819,25996,-14177,37347
2,ChelseaChelseaChelseaChelseaChelseaChelseaChel...,14222,9629,34548,27521,7027,56815
3,Crystal PalaceCrystal PalaceCrystal PalaceCrys...,9115,11129,19343,25184,-5841,45101
4,EvertonEvertonEvertonEvertonEvertonEvertonEver...,8392,11933,17761,26961,-9200,42851
16,Huddersfield TownHuddersfield TownHuddersfield...,4173,12463,7561,24181,-16620,33883
13,Leicester CityLeicester CityLeicester CityLeic...,11911,9564,26710,24532,2178,52258
14,LiverpoolLiverpoolLiverpoolLiverpoolLiverpoolL...,20351,6979,55374,25455,29919,71723
18,Manchester CityManchester CityManchester CityM...,24736,5474,77802,25828,51974,81998
9,Manchester UnitedManchester UnitedManchester U...,16238,8669,40491,26345,14146,61807
8,Newcastle UnitedNewcastle UnitedNewcastle Unit...,6910,11740,13988,25182,-11194,40080
5,SouthamptonSouthamptonSouthamptonSouthamptonSo...,6335,11902,12396,24898,-12502,38768
15,Stoke CityStoke CityStoke CityStoke CityStoke ...,5630,12435,11137,25467,-14330,36825
10,Swansea CitySwansea CitySwansea CitySwansea Ci...,4130,12410,7708,24297,-16589,33850
17,Tottenham HotspurTottenham HotspurTottenham Ho...,17663,8080,45604,26378,19226,65246
1,WatfordWatfordWatfordWatfordWatfordWatfordWatf...,8669,11067,17984,24776,-6792,44271
6,West Bromwich AlbionWest Bromwich AlbionWest B...,5338,12611,10619,26054,-15435,36065
19,West Ham UnitedWest Ham UnitedWest Ham UnitedW...,9867,10284,20723,23928,-3205,47450

In [107]:
empty_df['team'] = name_list
empty_df['w'] = empty_df['w']/10
empty_df['l'] = empty_df['l']/10
empty_df['gf'] = empty_df['gf']/10
empty_df['ga'] = empty_df['ga']/10
empty_df['gd'] = empty_df['gd']/10
empty_df['pts'] = empty_df['pts']/10
empty_df.sort_values('pts',ascending=False)

                        team       w       l      gf      ga      gd     pts
18           Manchester City  24.736   5.474  77.802  25.828  51.974  81.998
14                 Liverpool  20.351   6.979  55.374  25.455  29.919  71.723
17         Tottenham Hotspur  17.663   8.080  45.604  26.378  19.226  65.246
0                    Arsenal  16.762   8.787  47.666  26.063  21.603  62.737
9          Manchester United  16.238   8.669  40.491  26.345  14.146  61.807
2                    Chelsea  14.222   9.629  34.548  27.521   7.027  56.815
13            Leicester City  11.911   9.564  26.710  24.532   2.178  52.258
19           West Ham United   9.867  10.284  20.723  23.928  -3.205  47.450
3             Crystal Palace   9.115  11.129  19.343  25.184  -5.841  45.101
1                    Watford   8.669  11.067  17.984  24.776  -6.792  44.271
11           AFC Bournemouth   8.579  11.177  17.568  24.676  -7.108  43.981
4                    Everton   8.392  11.933  17.761  26.961  -9.200  42.851
8           Newcastle United   6.910  11.740  13.988  25.182 -11.194  40.080
5                Southampton   6.335  11.902  12.396  24.898 -12.502  38.768
7   Brighton and Hove Albion   5.793  12.046  11.233  24.313 -13.080  37.540
12                   Burnley   5.782  12.217  11.819  25.996 -14.177  37.347
15                Stoke City   5.630  12.435  11.137  25.467 -14.330  36.825
6       West Bromwich Albion   5.338  12.611  10.619  26.054 -15.435  36.065
16         Huddersfield Town   4.173  12.463   7.561  24.181 -16.620  33.883
10              Swansea City   4.130  12.410   7.708  24.297 -16.589  33.850

In [109]:
empty_df.to_csv('1000times.csv',index=False)